<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>136013432921-sjns7c80vn8ffs3uddaipbk7v80jnnv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136013432921-sjns7c80vn8ffs3uddaipbk7v80jnnv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAOkJKCF5Do-TO1hFweuZdjR5ZE58ol1uM</string>
	<key>GCM_SENDER_ID</key>
	<string>136013432921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kylehillman.todo-list</string>
	<key>PROJECT_ID</key>
	<string>todo-list-ed96c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-ed96c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:136013432921:ios:0d1329c2bcdac4ed</string>
	<key>DATABASE_URL</key>
	<string>https://todo-list-ed96c.firebaseio.com</string>
</dict>
</plist>